<!DOCTYPE html>
<html>
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
 </ul>
 <nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="{url_for('index')}" class="menu-logo">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Team Clicker"/>
  </a>

  <!-- menu items -->
  <div class="menu">
    <ul>
      <li>
        <a href="{{url_for('index')}}">
          Home
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="{{url_for('register')}}">
          Sign-up
        </a>
      </li>
      <li>
        <a href="{{url_for('login')}}">
          Login
        </a>
      </li>
    </ul>
  </div>
</nav>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul class = "nav">
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('dashboard') }}">Dashboard</a>
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
    <footer>

    </footer>
  </body>
</html>
